@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  // Sobrescribimos el color primario de Bootstrap para que sea rojo
  --bs-primary: red;
  --bs-primary-rgb: 255, 0, 0;
  --bs-primary-text-emphasis: rgba(255, 0, 0, 0.9);
  --bs-primary-bg-subtle: rgba(255, 0, 0, 0.1);
  --bs-primary-border-subtle: rgba(255, 0, 0, 0.2);
}